.product-teaser {
  &-inner {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img {
      max-width: 100%;
      height: auto;
      transition: transform 1s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    .centered {
      position: absolute;
      text-align: center;
      background: rgba(0, 0, 0, 0.3);
      padding: 2px 9px;
      color: rgba(255, 255, 255, 1);
      opacity: 0;
      transition: all 800ms;
    }

    &:hover .centered {
      opacity: 1;
      background: rgba(0, 0, 0, 0.5);
    }

    &:hover img {
      transform: scale(1.1);
    }
  }
  .name {
    transition: all 800ms;
    max-width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
    color: #777;
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }

  &:hover .name {
    color: #333;
  }
}
