$white: #fff;
$black: #333;
$gray: #e3dddd;
$text: #888;
$button: #3e3e3f;
$button-hover: #565657;
.product {
  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      margin: 0 1.75rem 0 0;
    }
  }

  a {
    color: $text;
    text-decoration: none;
    transition: all 0.2s ease;
    &:hover {
      color: $black;
    }
    &.active {
      color: $black;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    color: $black;
    font-weight: normal;
    margin: 1.75rem 0 1rem 0;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.125rem;
    margin: 0;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
    margin: 1rem 0 0.5rem 0;
  }

  section {
    display: block;
  }

  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  .description {
    border-top: 0.0625rem solid $gray;
    margin: 2rem 0;
    padding: 1rem 0 0 0;
  }

  .product-image {
    display: none;
  }

  .image-list {
    li {
      margin: 0;
    }
  }

  @media (min-width: 768px) {
    .product-image img,
    .image-list img {
      width: 100%;
    }

    .product-image {
      display: block;
      img {
        height: 52vh;
        &.active {
          display: block;
          margin: 0 0 0.75rem 0;
        }
      }
    }

    .image-list {
      display: flex;
      overflow: hidden;
      li {
        margin: 0 0.75rem 0 0;
        flex-basis: 100%;
        &:nth-child(3) {
          margin: 0;
        }
      }
      img {
        width: 100%;
        transition: opacity 0.3s ease;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

@keyframes fadeImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
