footer {
  padding: 1rem 0;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: #888;
  background: #fff;
  text-rendering: optimizeLegibility;
  a {
    color: #888;
    text-decoration: none;
    transition: all 0.2s ease;
    &:hover {
      color: #333;
    }
  }
}
