$button: #3e3e3f;
$button-hover: #565657;
$white: #fff;

body {
  background: #dddddd;
  .main-wrapper {
    min-height: 70vh;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  .styled-button {
    position: relative;
    display: inline-block;
    background: $button;
    color: $white;
    border: none;
    border-radius: 0;
    padding: 1.25rem 2.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transform: translateZ(0);
    transition: color 0.3s ease;
    letter-spacing: 0.0625rem;
    &:hover {
      &::before {
        transform: scaleX(1);
      }
    }
    &::before {
      position: absolute;
      content: "";
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $button-hover;
      transform: scaleX(0);
      transform-origin: 0 50%;
      transition: transform 0.3s ease-out;
    }
  }
  img {
    max-width: 100%;
    height: auto;
    transition: transform 1s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  }
}
